# Node.js
node_modules/
.env
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Banco de dados (caso use arquivos locais)
*.sqlite
*.db
*.dump

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
